$stLink: #23A2BF;
$stHeading: #173C5C;
$stBody: #465461;
$stGold: #ECA84B;
$stRed: #D72E2D;
$stOrange: #F5821f;
$stMint: rgb(65, 194, 117);
$stGray: rgb(228, 230, 230);
$stSetting:rgb(157, 157, 157);

$stLinkTint: rgba(35, 162, 191,0.4);
$stHeadingTint: rgba(22, 59, 91,.4);
$stBodyTint: rgba(68, 82, 96,.4);
$stGoldTint: rgba(236, 168, 75,.4);
$stRedTint: rgba(215, 46, 45,.4);
$stOrangeTint: rgba(244, 129, 29,.4);
$stMintTint: rgba(65, 194, 117,.4);
$stGrayTint: rgba(245, 247, 247,.4);
