.page_wrapper{
    	@media#{$tablet}{
			border:2px solid;
		}
}



//Week 2 Styles:


* {
	box-sizing: border-box;
}

body {
	background: #ffe8c6;
}

// form{
// 	display: flex;
// 	flex-direction: column;
// 	background: #fff;
// 	max-width: 700px;
// 	border-radius: 6px;
// 	margin-top: 20px;
// 	margin-left: 20%;
// 	padding: 2rem; 
// 	border: 6px solid #0076c4;
// 	font-family: 'Josefin Sans', sans-serif;

// }


/* 2. Content ================================= */
// 	img{
// 		align-self: center;
// 		margin-top: 50px;
// 		max-width: 100%;
// 		position: relative;
// 		margin-bottom: 20px;
// 		width: 100px;
// 	}

// #signup{
// 	position: absolute;

// 		h1{
// 			font-size: 3rem;
// 			text-align: center;
// 			margin-botton: 10px;
// 			font-family: 'Indie Flower', cursive;

// 		}
// 	// margin: 20pxz;
// }

// .comments{
// 	height: 20px;
// }

